*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
#circle{
    width: 200vh;
    height: 200vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -100vh;
    transform: translate(0%, -50%) rotate(100deg);
    border: 2px solid #f1f1f1;
    
}
#panel{
    position: absolute;
    right:3%;
    top: 50%;
    transform: translate(0,-50%);
    width: 5%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#mncircle{
    height: 2vw;
    width: 2vw;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.1;
}
.stripe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    height: 60px;
    transform-origin: 0%;
    display: flex;
}

.str1{
    transform: translate(0, -50%) rotate(-20deg);
}

.str2{
    transform: translate(0,-50%) rotate(-10deg);
}


.str5{
    transform: translate(0,-50%) rotate(0deg);
}

.str4{
    transform: translate(0,-50%) rotate(10deg);
}

.str5{
    transform: translate(0,-50%) rotate(20deg);
}

#first{
    width: 50%;
    height: 100%;
    position: relative;
}

#sec{
    width: 50%;
    height: 100%;
    padding-left: 30px;
    opacity: 0.4;
}

#sec h4{
    font-size: 2vw;
}

#sec h6{
    font-size: 1vw;
    opacity: 0.5;
    font-weight: 500;
}
#smcircle{
    position: absolute;
    right: -0.3vw;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 50%;
    width: 0.5vw;
    height: 0.5vw;
    background-color: #777;
}